
html{
}
.demoWrap{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:70%;
    min-width: 1024px;
    margin: 0 auto;
    cursor:none;
    .demodiv{
        width:100%;
        display:flex;
        justify-content: center;
        align-items: center;
        &1{
            .demoSubdiv{
                height:7em;
                &1{width:30%; background-color: antiquewhite;}
                &2{width:40%; background-color:aquamarine;}
                &3{width:30%; background-color: beige;}
            }
        }
        &2{
            .demoSubdiv{
                height:15em;
                &1{width:20%;background-color: slateblue;}
                &2{width:80%;background-color: salmon;}
            }
        }
        &3{
            .demoSubdiv{
                height:10em;
                &1{width:50%; background-color: sandybrown;}
                &2{width:25%; background-color: palevioletred;}
                &3{width:25%; background-color: pink;}  
            }
        }

    }


}
.customCursor{
    width:2em;
    height:2em;
    padding:0.75em;
    border-radius: 50%;
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    background-color: rgba(0,0,0,1);
    will-change: transform;
    transition: transform 0.15s ease-in-out;
    .cursorText{
        display:block;
        font-size: 0.7em;
        color:#fff;

    }
}
