.pathanime{
    width:100vw;
    // height:calc(100vh - 3rem);
    // padding-top:10%;
    display: flex;
    justify-content: center;
    svg{
        fill:none;
    }
    &.one{ 
        background-color: #2d2d2d;  

            svg{
                stroke-width: 3px;
                stroke: #fff;
            }

        }
} 
            

    

